* {
    margin:0;
    padding:0;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas, #daysOfWeekend, #middleSalary, #calculate_btn {
    background-color: black;
}



form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 400px;
}

label, input {
    margin: 10px;
}

.font_arial {
    font-family: "Arial", serif;
    color: white;
}

.width {
    width: 200px;
}